<!--register.html-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация пользователя</title>
    <link rel="stylesheet" th:href="@{../css/style.css}">
</head>
<body>
<div class="container">
    <div class="message" th:if="${message != null}"> <!--Переделать на уведомление-->>
        [[${message}]]
    </div>
    <h1>Регистрация</h1>
    <form
            id="registration-form"
            th:action="@{/registration}"
            method="post"
            role="form"
            th:object="${user}">

        <div class="form-group">
            <label for="fullname">Имя:</label>
            <input th:field="*{fullname}" type="text" id="fullname" name="fullname" placeholder="Введите свое ФИО" required>
        </div>

        <div class="form-group">
            <label for="email">Email:</label>
            <input th:field="*{email}" type="email" id="email" name="email"  placeholder="Введите email" required>
        </div>


        <div class="form-group">
            <label for="password">Пароль:</label>
            <input th:field="*{password}" type="password" id="password" name="password" placeholder="Введите пароль" required>
        </div>
        <button type="submit" class="btn">Зарегестрироваться</button>
        <a href="/login" class="registration-button">Войти</a>
    </form>
</div>
</body>
</html>
